@charset "UTF-8";
@font-face {
  font-family: "robotoregular";
  src: url("../maquettes_ohmyfood/police/roboto/Roboto-Regular-webfont.eot");
  src: url("../maquettes_ohmyfood/police/roboto/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../maquettes_ohmyfood/police/roboto/Roboto-Regular-webfont.woff") format("woff"), url("../maquettes_ohmyfood/police/roboto/Roboto-Regular-webfont.ttf") format("truetype"), url("../maquettes_ohmyfood/police/roboto/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "shrikhandregular";
  src: url("../maquettes_ohmyfood/police/shrikhand/shrikhand-regular-webfont.woff2") format("woff2"), url("../maquettes_ohmyfood/police/shrikhand/shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    color: #fface8;
  }
  90% {
    transform: rotate(280deg);
    color: #9356DC;
  }
  100% {
    transform: scale(0);
  }
}
body {
  margin: 0;
  width: 100%;
  z-index: -1;
}
@media screen and (min-width: 1022px) {
  body {
    width: 90%;
    margin: auto;
  }
}

/* début loading_spinner */
.loading_spinner {
  width: 22%;
  position: absolute;
  top: 50%;
  left: 4%;
  z-index: 3;
}
@media screen and (min-width: 1022px) {
  .loading_spinner {
    top: 20%;
    left: 18%;
  }
}

.fa-spinner {
  animation: spin 3000ms;
  animation-fill-mode: forwards;
  font-size: 350px;
}
@media screen and (min-width: 768px) and (max-width: 1021px) {
  .fa-spinner {
    font-size: 700px;
  }
}
@media screen and (min-width: 1022px) {
  .fa-spinner {
    font-size: 1200px;
  }
}

/* fin loading_spinner */
/* début header */
header {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1022px) {
  header {
    justify-content: flex-start;
  }
}

#logo {
  width: 60%;
  margin: 5%;
  margin-bottom: 3%;
}
@media screen and (min-width: 1022px) {
  #logo {
    width: 400px;
    margin-top: 2%;
  }
}

/* fin header */
/* début main */
main {
  width: auto;
  font-family: robotoregular, serif;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  box-shadow: 0px 6px 6px #dbdbdb inset;
  background-color: #eaeaea;
}
@media screen and (min-width: 768px) and (max-width: 1021px) {
  nav {
    height: 6em;
  }
}
@media screen and (min-width: 1022px) {
  nav {
    height: 3em;
    width: 30%;
    border-radius: 5px;
    position: absolute;
    right: 5%;
    top: 0%;
  }
}

#search {
  border: none;
  width: 100%;
  font-size: 1.3rem;
  background-color: #eaeaea;
  margin-left: 8%;
}
@media screen and (min-width: 768px) and (max-width: 1021px) {
  #search {
    font-size: 2rem;
    margin-left: 5%;
  }
}
@media screen and (min-width: 1022px) {
  #search {
    border-radius: 10px;
    width: 50%;
  }
}

.fa-map-marker-alt {
  margin-left: 17%;
  font-size: 1.5em;
}
@media screen and (min-width: 768px) and (max-width: 1021px) {
  .fa-map-marker-alt {
    font-size: 2em;
    margin-left: 30%;
  }
}

.desc_restaurant {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-bottom: 20%;
  background-color: whitesmoke;
}
@media screen and (min-width: 1022px) {
  .desc_restaurant {
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    padding-bottom: 8%;
    border-radius: 15px;
  }
}
.desc_restaurant_p1 {
  font-weight: bold;
  font-size: 1.9rem;
  margin-top: 8%;
}
@media screen and (min-width: 768px) and (max-width: 1021px) {
  .desc_restaurant_p1 {
    font-size: 3rem;
  }
}
.desc_restaurant_p2 {
  color: #424242;
  font-size: 1.2rem;
  margin-top: 3%;
}
@media screen and (min-width: 768px) and (max-width: 1021px) {
  .desc_restaurant_p2 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1022px) {
  .desc_restaurant_p2 {
    margin-top: 8%;
  }
}
.desc_restaurant_p3 {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 70%;
  height: 65px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  margin-top: 8%;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: 6px 6px 20px #757575;
  z-index: 1;
  outline: 0;
}
@media screen and (min-width: 768px) and (max-width: 1021px) {
  .desc_restaurant_p3 {
    font-size: 1.8rem;
    margin-top: 12%;
    width: 80%;
    height: 80px;
    outline: 0;
  }
}
@media screen and (min-width: 1022px) {
  .desc_restaurant_p3 {
    width: 350px;
  }
}
.desc_restaurant_p3:hover::after {
  opacity: 1;
}
.desc_restaurant_p3::after {
  content: "";
  outline: 0;
  position: absolute;
  width: 70%;
  height: 65px;
  background: linear-gradient(to bottom, #ff93e1, #a16be0);
  box-shadow: 6px 6px 20px black;
  border-radius: 50px;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
@media screen and (min-width: 768px) and (max-width: 1021px) {
  .desc_restaurant_p3::after {
    font-size: 1.8rem;
    width: 80%;
    height: 80px;
    outline: 0;
  }
}
@media screen and (min-width: 1022px) {
  .desc_restaurant_p3::after {
    width: 350px;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;
}
.menu_titre {
  align-self: flex-start;
  margin-left: 5%;
  font-size: 2rem;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) and (max-width: 1021px) {
  .menu_titre {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1022px) {
  .menu_titre {
    margin-left: 0;
  }
}
.menu_number {
  display: inline-block;
  align-self: flex-start;
  font-size: 1.2rem;
  background-color: #9356DC;
  color: #fff;
  text-align: center;
  width: 28px;
  height: 28px;
  border-radius: 50px;
  position: relative;
  top: 55px;
  left: 3%;
}
@media screen and (min-width: 768px) and (max-width: 1021px) {
  .menu_number {
    font-size: 2.3rem;
    top: 90px;
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 1022px) {
  .menu_number {
    font-size: 2rem;
    top: 68px;
    left: 580px;
    width: 50px;
    height: 50px;
  }
}
.menu_bloc {
  display: flex;
  align-items: center;
  width: 90%;
  height: 80px;
  background-color: whitesmoke;
  border-radius: 50px;
  font-weight: bold;
  box-shadow: 6px 6px 20px #dbdbdb;
  font-size: 1rem;
  margin-left: 0;
}
@media screen and (min-width: 1022px) {
  .menu_bloc {
    width: 30%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1021px) {
  .menu_bloc {
    font-size: 2.3rem;
    height: 130px;
  }
}
.menu_bloc-items {
  margin-left: 10%;
}
.menu_bloc-purple {
  background-color: #f2eafb;
}

.fa-mobile-alt, .fa-ellipsis-v, .fa-store {
  margin-left: 12%;
  color: #a3a3a3;
}
@media screen and (min-width: 1022px) {
  .fa-mobile-alt, .fa-ellipsis-v, .fa-store {
    font-size: 2rem;
  }
}

.fa-bars {
  color: #a3a3a3;
}
@media screen and (min-width: 1022px) {
  .fa-bars {
    font-size: 2rem;
  }
}

.fa-store {
  color: #9356DC;
}

.restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  padding-bottom: 60px;
}
@media screen and (min-width: 1022px) {
  .restaurant {
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 15px;
    justify-content: space-around;
  }
}
.restaurant_title {
  align-self: flex-start;
  margin-left: 5%;
  padding-top: 40px;
  font-size: 2rem;
}
@media screen and (min-width: 768px) and (max-width: 1021px) {
  .restaurant_title {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1022px) {
  .restaurant_title {
    margin-left: 0;
    padding-top: 20px;
    width: 100%;
  }
}
.restaurant_box {
  width: 90%;
  height: 230px;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  margin-bottom: 7%;
  background-color: #fff;
  text-decoration: none;
  color: #000;
  display: inline-block;
}
@media screen and (min-width: 1022px) {
  .restaurant_box {
    width: 45%;
    height: 400px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1021px) {
  .restaurant_box {
    height: 450px;
  }
}
.restaurant_pict {
  width: 100%;
  height: 70%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px 30px 0px 0px;
}
.restaurant_pict-new {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 75%;
  width: 25%;
  height: 20%;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: #99E2D0;
  color: #278870;
  border-radius: 2px;
  position: relative;
  top: 20px;
  right: 2%;
}
@media screen and (min-width: 768px) and (max-width: 1021px) {
  .restaurant_pict-new {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1022px) {
  .restaurant_pict-new {
    font-size: 2rem;
  }
}
.restaurant_pict-1 {
  background-image: url("../maquettes_ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-position-y: 70%;
}
.restaurant_pict-2 {
  background-image: url("../maquettes_ohmyfood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-position-y: 60%;
}
.restaurant_pict-3 {
  background-image: url("../maquettes_ohmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-position-y: 80%;
}
.restaurant_pict-4 {
  background-image: url("../maquettes_ohmyfood/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-position-y: 80%;
}
.restaurant_descr {
  display: flex;
  font-size: 1rem;
  padding-top: 3%;
}
@media screen and (min-width: 768px) and (max-width: 1021px) {
  .restaurant_descr {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1022px) {
  .restaurant_descr {
    font-size: 1.8rem;
    justify-content: space-between;
  }
}
.restaurant_descr-name {
  margin-right: 40%;
  margin-left: 5%;
}

.fa-heart {
  color: #b5b5b5;
  position: absolute;
  right: 10%;
  margin-top: 2%;
  z-index: 1;
}
.fa-heart:active.fa-heart-2 {
  opacity: 1;
}
.fa-heart-2 {
  z-index: 2;
  background: -webkit-linear-gradient(right, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: opacity 300ms;
}

/* fin main */
/* début footer */
footer {
  background-color: #424242;
  color: #fff;
  font-size: 1rem;
  margin-top: 0;
  border: 2px #424242 solid;
  padding-left: 5%;
  font-family: robotoregular, serif;
}
footer .footer_title {
  font-family: shrikhandregular;
  font-weight: lighter;
}
footer .fa-utensils, footer .fa-hands-helping {
  margin-right: 2%;
}
footer #contact {
  text-decoration: none;
  color: #fff;
}
@media screen and (min-width: 768px) and (max-width: 1021px) {
  footer {
    font-size: 2rem;
  }
}

/* fin footer */

/*# sourceMappingURL=style.css.map */
