@import "../base/police";
@import"../utils/variables";
@import"../utils/mixins";

body{
    margin:0;
}
/* début header */

#logo{
     display: flex;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}

/* fin header */

/* début main */
main{

    width: auto;
    font-family: robotoregular, serif;
    font-size: 1.8rem;
}


nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;;
    width:100%;
    box-shadow: 0px 6px 6px lighten($color_grey, 40%) inset;
    background-color: lighten($color_grey, 46%);
    
}

#search{

    border :none;
    font-size: 1.8rem;
    background-color: lighten($color_grey, 46%);
    margin-left: 5%;
    
}

.fa-map-marker-alt{
 margin-left: 5%;
}

.desc_restaurant{
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   padding-bottom: 20%;
   background-color: lighten($color_grey, 50%);

   &_p1{
    font-weight: bold;
    font-size: 3rem;
    margin-top: 7%;
   }

   &_p2{
       color: darken($color_grey, 40%);
       font-size: 2.2rem;
       margin-top: 3%;
   }

   &_p3{
       cursor: pointer;
       display: flex;
       align-items: center;
       justify-content: center;
       color: #fff;
       width: 55%;
       height: 100px;
       background: linear-gradient(to bottom, $color_secondary, $color_primary);
       margin-top: 8%;
       font-size: 1.8rem;
       font-weight: bold;
       border-radius: 50px;
       box-shadow: 6px 6px 20px $color_grey;
       z-index:1;
       &:hover{
        &::after{
        opacity:1;
        }
    }
    &::after{
        content: "";
        position: absolute;
        width: 55%;
        height: 100px;
        background: linear-gradient(to bottom, lighten($color_secondary, 5%), lighten($color_primary, 5%));
        box-shadow: 6px 6px 20px darken($color_grey,50%);
        border-radius: 50px;
        opacity:0;
        z-index:-1;
        transition: opacity 250ms;
    }
       
}}

.restaurant_expl{

    display:flex;
    align-items: center;
}

.menu{

display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 140px;

&_titre{
   @include title;
}

&_number{
    display: inline-block;
    align-self: flex-start;
    background-color: $color_primary;
    color: #fff;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    position: relative;
    top: 90px;
    left: 3%;
}
&_bloc{
    @include menu_fonct;
    &-items{
     margin-left: 5%;
    }
    &-purple{
        background-color: lighten($color_primary, 35%);
    }

}
}

.fa-mobile-alt, .fa-ellipsis-v, .fa-store{

    margin-left: 10%;
    color: lighten($color_grey, 18%);
}

.fa-bars{
    color: lighten($color_grey, 18%);

}

.fa-store{
    color: $color_primary;
}

.restaurant{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lighten($color_grey, 50%);
    padding-bottom: 120px;

    &_title{
        @include title;
        padding-top: 70px;
    }

    &_box{
        @include restaurant_box;
        display: inline-block;
    }

    &_pict{
        @include pict_restaurant;
        &-new{
            @include new;
        }
    }
    &_pict-1{
        background-image: url("../maquettes_ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
        background-position-y: 70%;
    }

    &_pict-2{
        background-image: url("../maquettes_ohmyfood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
        background-position-y: 60%;
        
    }

    &_pict-3{
        background-image: url("../maquettes_ohmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
        background-position-y: 80%;
    }

    &_pict-4{
        background-image: url("../maquettes_ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    }

    &_descr{
       
        display: flex;
        font-size: 2rem;
        padding-top: 3%;
        
        &-name{
            margin-right: 40%;
            margin-left: 5%;
        }
}
}

 .fa-heart{
     
    color: lighten($color_grey, 25%);
    position: absolute;
    right: 10%;
    margin-top: 2%;
    z-index: 1;
&:active{
    &.fa-heart-2{
        opacity:1;
    }
}
 &-2{
     z-index: 2;
     background:-webkit-linear-gradient(right, $color_primary, $color_secondary);
     background-clip:text;
     -webkit-background-clip:text;
     color:transparent;
     opacity:0;
     transition: opacity 500ms;

 }
 } 


 footer{
    @include footer;
  } 
