@font-face {
    font-family: 'robotoregular';
    src: url('../maquettes_ohmyfood/police/roboto/Roboto-Regular-webfont.eot');
    src: url('../maquettes_ohmyfood/police/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../maquettes_ohmyfood/police/roboto/Roboto-Regular-webfont.woff') format('woff'),
         url('../maquettes_ohmyfood/police/roboto/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../maquettes_ohmyfood/police/roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'shrikhandregular';
    src: url('../maquettes_ohmyfood/police/shrikhand/shrikhand-regular-webfont.woff2') format('woff2'),
         url('../maquettes_ohmyfood/police/shrikhand/shrikhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



$color_primary: #9356DC;
$color_secondary: #FF79DA;
$color_tertiary: #99E2D0;
$color_grey: #757575;



$case_width:90%;
$case_height: 300px;

body{
    margin:0;
    width: 100%;
    z-index: -1;
}

/* début loading_spinner */

.loading_spinner{

    width: 22%;
    position: absolute;
    top:80%;
    left: 28%;
    z-index: 3;
   
}

.fa-spinner{
    color: darken($color_primary, 10%);
    animation: spin 3000ms;
    animation-fill-mode: forwards;
}

@keyframes spin{
    0%{
        transform: rotate(-360deg);
        transition-timing-function: cubic-bezier(0,.71,1,0.42);
    }
    
    90%{
        transform: rotate(90deg);
       
    }

    100%{
        transform: scale(0);
    }
    
    }
    /* fin loading_spinner */


    
/* début header */

header{
    display: flex;
    justify-content: center;
}
#logo{
    
    width: 60%;
    margin: 5%;
    margin-bottom:3%;

}

/* fin header */

/* début main */
main{

    width: auto;
    font-family: robotoregular, serif;
    
}


nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    box-shadow: 0px 6px 6px lighten($color_grey, 40%) inset;
    background-color: lighten($color_grey, 46%);
    
}

#search{

    border :none;
    width: 100%;
    font-size: 1.5rem;
    background-color: lighten($color_grey, 46%);
    margin-left: 8%;
    
}

.fa-map-marker-alt{
 margin-left: 17%;
 font-size: 1.5em;
}

.desc_restaurant{
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   padding-bottom: 20%;
   background-color: lighten($color_grey, 50%);
   &_p1{
    font-weight: bold;
    font-size: 1.9rem;
    margin-top: 8%;
   }

   &_p2{
       color: darken($color_grey, 20%);
       font-size: 1.2rem;
       margin-top: 3%;
   }

   &_p3{
       cursor: pointer;
       display: flex;
       align-items: center;
       justify-content: center;
       color: #fff;
       width: 70%;
       height: 65px;
       background: linear-gradient(to bottom, $color_secondary, $color_primary);
       margin-top: 8%;
       font-size: 1.2rem;
       font-weight: bold;
       border-radius: 50px;
       box-shadow: 6px 6px 20px $color_grey;
       z-index:1;
       &:hover{
        &::after{
        opacity:1;
        }
    }
    &::after{
        content: "";
        position: absolute;
        width: 70%;
        height: 65px;
        background: linear-gradient(to bottom, lighten($color_secondary, 5%), lighten($color_primary, 5%));
        box-shadow: 6px 6px 20px darken($color_grey,50%);
        border-radius: 50px;
        opacity:0;
        z-index:-1;
        transition: opacity 250ms;
    }
       
}}


.menu{

display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 90px;

&_titre{
    align-self: flex-start;
  margin-left: 5%;
   font-size: 2rem;
   margin-bottom: 0;
}

&_number{
    display: inline-block;
    align-self: flex-start;
    font-size: 1.2rem;
    background-color: $color_primary;
    color: #fff;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    position: relative;
    top: 55px;
    left: 3%;
}
&_bloc{
    display: flex;
    align-items: center;
    width: $case_width;
    height: 80px;
    background-color: lighten($color_grey, 50%);
    border-radius:50px;
    font-weight: bold;;
    box-shadow: 6px 6px 20px lighten($color_grey, 40%);
    font-size:1rem;
    margin-left: 0;
    
    &-items{
     margin-left: 10%;
    }
    &-purple{
        background-color: lighten($color_primary, 35%);
    }

}
}

.fa-mobile-alt, .fa-ellipsis-v, .fa-store{

    margin-left: 10%;
    color: lighten($color_grey, 18%);
}

.fa-bars{
    color: lighten($color_grey, 18%);

}

.fa-store{
    color: $color_primary;
}

.restaurant{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lighten($color_grey, 50%);
    padding-bottom: 60px;

    &_title{
        align-self: flex-start;
        margin-left: 5%;
        padding-top: 40px;
        font-size: 2rem;
   
    }

    &_box{
        width: $case_width;
        height: 230px;
        display: flex;
        flex-direction: column;
        border-radius: 50px;
        margin-bottom: 7%;
        background-color: #fff;
        text-decoration: none;
        color: #000;
        display: inline-block;
    }

    &_pict{
        width: 100%;
         height: 70%;
         background-size: cover;
           background-repeat: no-repeat;
            border-radius: 30px 30px 0px 0px;
        &-new{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 75%;
            width: 25%;
            height: 20%;
            font-size: 0.8rem;
            font-weight: bold;
           background-color:$color_tertiary;
           color: darken($color_tertiary, 40%);
           border-radius: 2px;
           position: relative;
           top: 20px;
           right: 2%;
        }
    }
    &_pict-1{
        background-image: url("../maquettes_ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
        background-position-y: 70%;
    }

    &_pict-2{
        background-image: url("../maquettes_ohmyfood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
        background-position-y: 60%;
        
    }

    &_pict-3{
        background-image: url("../maquettes_ohmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
        background-position-y: 80%;
    }

    &_pict-4{
        background-image: url("../maquettes_ohmyfood/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
        background-position-y: 80%;
    }

    &_descr{
       
        display: flex;
        font-size: 1rem;
        padding-top: 3%;
        
        &-name{
            margin-right: 40%;
            margin-left: 5%;
        }
}
}

 .fa-heart{
     
    color: lighten($color_grey, 25%);
    position: absolute;
    right: 10%;
    margin-top: 2%;
    z-index: 1;
&:active{
    &.fa-heart-2{
        opacity:1;
    }
}
 &-2{
     z-index: 2;
     background:-webkit-linear-gradient(right, $color_primary, $color_secondary);
     background-clip:text;
     -webkit-background-clip:text;
     color:transparent;
     opacity:0;
     transition: opacity 500ms;

 }
 } 
/* fin main */

/* début footer */
 footer{
    background-color: darken($color_grey, 20%);
  color: #fff;
  font-size: 1rem;
  margin-top: 0;
  border: 2px darken($color_grey, 20%) solid;
  padding-left: 5%;
  font-family: robotoregular, serif;
  .footer_title{
    font-family: shrikhandregular;
    font-weight:lighter;
  }
  .fa-utensils, .fa-hands-helping{
    margin-right: 2%;
  }
  #contact{
    text-decoration: none;
    color: #fff;
  }
  } 
/* fin footer */