@import"./utils/variables";
@import"./base/polices";
@import"./utils/mixins";
@import"./utils/keyframes";

/* DEBUT PAGE ACCUEIL */
body{
    margin:0;
    width: 100%;
    z-index: -1;
    font-family: robotoregular, serif;
    @media screen and (min-width: 1224px){
        width: 90%;
        margin: auto;
       
     }
}

/* début loading_spinner */

.loading_spinner{

    width: 22%;
    position: absolute;
    top:50%;
    left: 18%;
    z-index: 3;
    @media screen and (min-width: 768px) and (max-width: 1223px){
        left: 18%;
    }
    @media screen and (min-width: 1224px){
        top:20%;
        left: 20%;
    }
   
}

.fa-spinner{
    
    animation: spin 3000ms;
    animation-fill-mode: forwards; 
    font-size: 250px;
    @media screen and (min-width: 768px) and (max-width: 1223px){
        font-size: 500px;
    }
   @media screen and (min-width: 1224px){
       font-size: 1200px;
   }
}


    /* fin loading_spinner */


    
/* début header */

header{
@include header;
}
.fa-arrow-left{

    font-size: 1.3rem;
    position: absolute;
    top: 4%;
    left: 3%;
    color: #000;
}
/* fin header */

/* début main */
main{

    width: auto;
}


nav{
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    box-shadow: 0px 6px 6px lighten($color_grey, 40%) inset;
    background-color: lighten($color_grey, 46%);
    @media screen and (min-width: 768px) and (max-width: 1223px){
        height: 6em;
       
    }
    @media screen and (min-width: 1224px){
       height: 3em;
       width:30%;
       border-radius: 5px;
       position: absolute;
       right:5%;
       top: 0%;
    }
    
}

#search{

    border :none;
    width: 100%;
    font-size: 1.3rem;
    background-color: lighten($color_grey, 46%);
    margin-left: 8%;
    @media screen and (min-width: 768px) and (max-width: 1223px){
        font-size: 2rem;
        margin-left: 5%;
        width: 50%;
    }
    @media screen and (min-width: 1224px){
        border-radius: 10px;
        width: 50%;
     }
     
    
}

.fa-map-marker-alt{
 margin-left: 17%;
 font-size: 1.5em;
 @media screen and (min-width: 768px) and (max-width: 1223px){
    font-size:2em;
    margin-left: 10%;
}
 
}

.desc_restaurant{
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   padding-bottom: 20%;
   background-color: lighten($color_grey, 50%);
   @media screen and (min-width: 1224px){
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    padding-bottom: 8%;
    border-radius: 15px;
 }

   &_p1{
    font-weight: bold;
    font-size: 1.9rem;
    margin-top: 8%;
    @media screen and (min-width: 768px) and (max-width: 1223px){
        font-size: 3rem;
    }
  
   }

   &_p2{
       color: darken($color_grey, 20%);
       font-size: 1.2rem;
       margin-top: 3%;
       @media screen and (min-width: 768px) and (max-width: 1223px){
        font-size: 2rem; 
    }
    @media screen and (min-width: 1224px){
       margin-top: 8%;
     }
   }

   &_p3{
       @include button;

}
}

.menu{

display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 90px;


&_titre{
   align-self: flex-start;
  margin-left: 5%;
   font-size: 2rem;
   margin-bottom: 0;
   @media screen and (min-width: 768px) and (max-width: 1223px){
    font-size: 2.5rem;
  }
  @media screen and (min-width: 1224px){
    margin-left:0;
    margin-left: 2%;
 }

}

&_number{
    display: inline-block;
    align-self: flex-start;
    font-size: 1.2rem;
    background-color: $color_primary;
    color: #fff;
    text-align: center;
    width: 28px;
    height: 28px;
    border-radius: 50px;
    position: relative;
    top: 55px;
    left: 3%;
    @media screen and (min-width: 768px) and (max-width: 1223px){
        font-size: 2.3rem;
        top: 90px;
        width: 50px;
         height: 50px;
    }
    @media screen and (min-width: 1224px){
        font-size: 2rem;
        top: 68px;
        left: 34%;
        width: 50px;
        height: 50px;
     }
}
&_bloc{
@include blocs;
@media screen and (min-width: 768px) and (max-width: 1223px){
    font-size: 2.3rem;
    height: 130px;
}
    &-items{
     margin-left: 10%;
  
    }
    &-purple{
        background-color: lighten($color_primary, 35%);
    }
}
}

.fa-mobile-alt, .fa-ellipsis-v, .fa-store{

    margin-left: 12%;
    color: lighten($color_grey, 18%);
    @media screen and (min-width: 1224px){
        font-size: 2rem;
       
     }
}

.fa-bars{
    color: lighten($color_grey, 18%);
    @media screen and (min-width: 1224px){
        font-size: 2rem;
       
     }

}

.fa-store{
    color: $color_primary;
}

.restaurant{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lighten($color_grey, 50%);
    padding-bottom: 60px;
    @media screen and (min-width: 1224px){
        flex-direction: row;
        flex-wrap: wrap;
        border-radius: 15px;
        justify-content: space-around;
     }

    &_title{
        align-self: flex-start;
        margin-left: 5%;
        padding-top: 40px;
        font-size: 2rem;
        @media screen and (min-width: 768px) and (max-width: 1223px){
            font-size: 2.5rem;
        }
        @media screen and (min-width: 1224px){
            margin-left:0;
            padding-top: 20px;
            width: 100%;
            margin-left: 2%;
         }
    }

    &_box{
  @include box;
  @media screen and (min-width: 768px) and (max-width: 1223px){
    
     height: 450px;
}
    }

    &_pict{
        width: 100%;
         height: 70%;
         background-size: cover;
           background-repeat: no-repeat;
            border-radius: 30px 30px 0px 0px;
        &-new{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 75%;
            width: 25%;
            height: 20%;
            font-size: 0.8rem;
            font-weight: bold;
           background-color:$color_tertiary;
           color: darken($color_tertiary, 40%);
           border-radius: 2px;
           position: relative;
           top: 20px;
           right: 2%;
           @media screen and (min-width: 768px) and (max-width: 1223px){
            font-size: 2rem;
        }
        @media screen and (min-width: 1224px){
           font-size: 2rem;
         }
        }
    }
    &_pict-1{
        background-image: url("../maquettes_ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
        background-position-y: 70%;
    }

    &_pict-2{
        background-image: url("../maquettes_ohmyfood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
        background-position-y: 60%;
        
    }

    &_pict-3{
        background-image: url("../maquettes_ohmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
        background-position-y: 80%;
    }

    &_pict-4{
        background-image: url("../maquettes_ohmyfood/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
        background-position-y: 80%;
    }

    &_descr{
       
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        padding-top: 3%;
        @media screen and (min-width: 768px) and (max-width: 1223px){
            font-size: 2rem;
        }
        @media screen and (min-width: 1224px){
           font-size: 1.8rem;
           justify-content: space-between;
         }

        &-name{
            margin-right: 40%;
            margin-left: 5%;
            @media screen and (min-width: 1224px){
                
                margin-right: 10%;
              }
        }
}
}

 .fa-heart{
     
    color: lighten($color_grey, 25%);
    position: absolute;
    right: 10%;
    margin-top: 2%;
    z-index: 1;
    @media screen and (min-width: 1224px){
        position: relative;
       right: 20px;
    }
   
&:active{
    &.fa-heart-2{
        opacity:1;
    }
}

@media screen and (min-width: 1224px){
    &:hover{
        &.fa-heart-2{
            opacity:1;
        }
    }
}
 &-2{
     z-index: 2;
     background:-webkit-linear-gradient(right, $color_primary, $color_secondary);
     background-clip:text;
     -webkit-background-clip:text;
     color:transparent;
     opacity:0;
     transition: opacity 300ms;
     @media screen and (min-width: 1224px){
        position: relative;
        right: 20px;
        top: -59px;
    }
 }
 } 
/* fin main */

/* début footer */
 footer{
 @include footer;
 
  } 
/* fin footer */
/* FIN PAGE ACCUEIL */

/* DEBUT PAGE RESTAURANT */

.bloc_resto{

    @include bloc_resto;
}

.menu_resto{
    @include menu_resto;
    
}



.order{
    display: flex;
    justify-content: center;
    padding-bottom: 15%;
    background-color: lighten($color_grey, 50%);
}












/* FIN PAGE RESTAURANT */