@import "../base/police";
@import"../utils/variables";

body{
    margin:0;
}
/* début header */

#logo{
     display: flex;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}

/* fin header */

/* début main */
main{

    width: auto;
    font-family: robotoregular, serif;
    font-size: 1.8rem;
}


nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;;
    width:100%;
    box-shadow: 0px 6px 6px #c4c4c4 inset;
    background-color: $color_fourth;
    
}

#search{

    border :none;
    font-size: 1.8rem;
    
}

.fa-map-marker-alt{
 margin-right: 5%;

}
