/* début header */

header{
    display: flex;
    justify-content: center;
  @media screen and (min-width: 1024px){
    justify-content: flex-start;
    margin-left: 5%;
    
  }
    
    .fa-arrow-left{
        position: absolute;
        top: 4%;
        left: 3%;
        color: #000;
        @media screen and (min-width: 768px) and (max-width: 1023px){
          font-size: 3rem;
          top: 5.5%;
      }
        @media screen and (min-width: 1024px){
          font-size: 3rem;
          top: 6%;
          left: 2%;
         }
         
    }

}
    /* fin header */