/* DEBUT PAGES RESTAURANTS */
body{
    margin:0;
    width: 100%;
    z-index: -1;
    font-family: robotoregular, serif;
    @media screen and (min-width: 1024px){
        margin: auto;
     }
}
.bloc_resto{

    &_pict{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index:-1;
        @media screen and (min-width: 768px) and (max-width: 1023px){
         height: 700px;
          }
        @media screen and (min-width: 1024px){
        height:800px;
       }
      &_palette{
        background-image: url("../maquettes_ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
        
      }
      &_francaise{
    background-image: url("../maquettes_ohmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    background-position-x: 20%;
    background-position-y: 50%;
      }
      &_note{
    background-image: url("../maquettes_ohmyfood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    
      }
      &_delice{
    background-image: url("../maquettes_ohmyfood/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    
      }
      &_title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index:1;
        background-color: lighten($color_grey, 50%);
        font-size: 1.7rem;
        padding-left: 4%;
        padding-right: 25%;
        height:35%;
        border-radius: 50px 50px 0px 0px;
        font-family: shrikhandregular, serif;
        font-weight: lighter;
        @media screen and (min-width: 768px) and (max-width: 1023px){
          font-size: 3rem;
          height:30%;
          }
      @media screen and (min-width: 1024px){
        font-size: 3rem;
       height:30%;
       padding-right: 10%;
       flex-direction: row;
       align-items: center;
       justify-content: space-between;
     }
      }
      & .fa-heart{
        padding-bottom:5%;
         color: black;
      }
    
    }
}

.menu_resto{
    
display: flex;
flex-direction: column;
align-items:center;
background-color: lighten($color_grey, 50%);
@media screen and (min-width: 768px) and (max-width: 1023px){
 padding-top:5%;
 margin-top: -1%;
}
@media screen and (min-width: 1024px){
 margin-top: 0;
}
&_title{
  font-weight: lighter;
  font-size: 1rem;
  padding-left: 5%;
  align-self: flex-start;
  @media screen and (min-width: 768px) and (max-width: 1023px){
    font-size: 2rem;
    padding-left:3%;
}
@media screen and (min-width: 1024px){
  font-size: 2.5rem;
 }
 
  &_line{
    width: 45px;
    margin-top: -8px;
    margin-bottom: 15px;
    border: 2px $color_tertiary solid;
    margin-left: 5%;
    align-self: flex-start;
    @media screen and (min-width: 768px) and (max-width: 1023px){
      margin-top: -20px;
      width: 80px;
      margin-left: 3%;
  }
  @media screen and (min-width: 1024px){
    width: 120px;
    margin-top: -30px;
   }
  }
}
&_bloc{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  width: 95%;
  height: 80px;
  border-radius: 20px;
  background-color: #fff;
  margin-bottom: 5%;
  box-shadow: 6px 6px 20px lighten($color_grey, 30%);
  @media screen and (min-width: 768px) and (max-width: 1023px){
    font-size: 1.8rem;
    height: 150px;
    line-height: 55px;
    margin-top: 5%;
}
@media screen and (min-width: 1024px){
  font-size: 2rem;
  height: 200px;
  line-height: 55px;
  margin-top: 2%;
  margin-bottom: 2%;
 }
  &-1{
    
    animation: bloc_menu 1000ms;
    animation-fill-mode: backwards;
  }
  &-2{
    
    animation: bloc_menu 1000ms 500ms;
    animation-fill-mode: backwards;
  }
  &-3{
    
    animation: bloc_menu 1000ms 1000ms;
    animation-fill-mode: backwards;
  }
  &-4{
    
    animation: bloc_menu 1000ms 1500ms;
    animation-fill-mode: backwards;
  }

  &_box{
    display:flex;
    align-items: flex-end;
    width: 95%;
    margin-left:1%;
    &:active{
      animation: description 300ms;
      animation-fill-mode: forwards;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    @media screen and (min-width: 1024px){
    &:hover{
      animation: description 300ms;
      animation-fill-mode: forwards;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }}
    &:active + .menu_resto_button{
      animation: button 500ms;
      animation-fill-mode: forwards;
      transition-timing-function: cubic-bezier(0.04, 0.43, 0.94, 0.22);
     
     & .fa-check-circle{
       display: inline;
       color: #fff;
       animation: check 500ms 300ms;
     }
      }
      @media screen and (min-width: 1024px){
        &:hover + .menu_resto_button{
          animation: button 500ms;
          animation-fill-mode: both;
          transition-timing-function: ease-out;
         & .fa-check-circle{
            display: inline;
            color: #fff;
           animation: check 500ms 300ms;
          }
       }
    }

    &_name{
      cursor:pointer;
      width: 85%;
      transform-origin: left 50%;
      text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        @media screen and (min-width: 768px) and (max-width: 1023px){
          width: 90%;
      }
      @media screen and (min-width: 1024px){
       width: 90%;
       }
      
   
   
    }
    &_price{
     margin-left:2%;
     @media screen and (min-width: 768px) and (max-width: 1023px){
      margin-right:2%;
  }
    }
  
  }
  }
  
  &_button{
    z-index:1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 20px 20px 0px;
    background-color: $color_tertiary;
    transform-origin: right 50%;
    height:100%;
    
    & .fa-check-circle{
       display:none;
       font-size: 1.8rem;
       @media screen and (min-width: 768px) and (max-width: 1023px){
        font-size:3.5rem;
    }
    @media screen and (min-width: 1024px){
      font-size:3.5rem;
      }
    }
   }
    
}


/* FIN PAGES RESTAURANTS */