@mixin menu_fonct{
  display: flex;
  align-items: center;
  width: $case_width;
  height: 140px;
  background-color: lighten($color_grey, 50%);
  border-radius:50px;
  font-size: 1.8rem;
  font-weight: bold;;
  box-shadow: 6px 6px 20px lighten($color_grey, 40%);
}

@mixin title{

  align-self: flex-start;
  margin-left: 5%;
}

@mixin pict_restaurant{

  width: 100%;
  height: 70%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px 50px 0px 0px;
  
}

@mixin restaurant_box{

  width: $case_width;
  height: $case-height;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  margin-bottom: 5%;
  background-color: #fff;
  text-decoration: none;
  color: #000;
   
}

@mixin new{

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 80%;
  width: 18%;
  height: 15%;
  font-size: 1.3rem;
  font-weight: bold;
 background-color:$color_tertiary;
 color: darken($color_tertiary, 40%);
 border-radius: 5px;
 position: relative;
 top: 20px;
 right: 2%;
 
}

@mixin footer{

  background-color: darken($color_grey, 20%);
  color: #fff;
  font-size: 2rem;
  margin-top: 0;
  border: 2px darken($color_grey, 20%) solid;
  padding-left: 5%;
  font-family: robotoregular, serif;
  .footer_title{
    font-family: shrikhandregular;
  }
  .fa-utensils, .fa-hands-helping{
    margin-right: 2%;
  }
  #contact{
    text-decoration: none;
    color: #fff;
  }
}

