@keyframes spin{
    0%{
        transform: rotate(0deg);
        color: lighten($color_secondary, 10%);
        
    }
    
    90%{
        transform: rotate(280deg);
        color: $color_primary;
       
    }

    100%{
        transform: scale(0);
    }
    
    }