@keyframes spin{
    0%{
        transform: rotate(0deg);
        color: lighten($color_secondary, 10%);
        
    }
    
    90%{
        transform: rotate(280deg);
        color: $color_primary;
       
    }

    100%{
        transform: scale(0);
    }
    
    }

    @keyframes button{
  
        0%{
         transform: scaleX(0);
         
        }
       
        100%{
         transform: scaleX(80px);
         width:80px;
         height: 100%;
        }
      } 

      @media screen and (min-width: 768px) and (max-width: 1223px){
        @keyframes button{
        0%{
          transform: scaleX(0);
          
         }
        
         100%{
          transform: scaleX(150px);
          width:150px;
          height: 100%;
         }
      }}
      
      @keyframes description{
        0%{
          width: 310px;
      }
      
     
        100%{
        width: 250px;
        
        }
      }
      
      @media screen and (min-width: 768px) and (max-width: 1223px){
        @keyframes description{
          0%{
            width: 800px;
        }
        
       
          100%{
          width: 750px;
          transform: scaleX(80px);
          }
        }
      }

      

      @keyframes check{

        0%{
          transform: rotate(-360deg);
        }
        100%{
          transform: rotate(0deg);
        }
      }



      @keyframes bloc_menu{

        0%{
          opacity:0;
          transform: translateY(25px);
        }

        50%{
          
          opacity:0.5;
        }

        100%{
          transform: translateY(0);
          opacity:1;
        }
      }