@keyframes spin{
    0%{
        transform: rotate(0deg);
        color: lighten($color_secondary, 10%);
        
    }
    
    90%{
        transform: rotate(280deg);
        color: $color_primary;
       
    }

    100%{
        transform: scale(0);
    }
    
    }

    @keyframes button{
  
        0%{
         transform: translateX(999px);
         
        }
       
        100%{
         transform: translateX(0px);
         width: 80px;
         height: 100%;
 
        }
      } 


      
      @keyframes test{
        0%{
          width: 80%;
        }
       
        100%{
        width: 75%;
          
        }
      }
      
      @keyframes check{

        0%{
          transform: rotate(-360deg);
        }
        100%{
          transform: rotate(0deg);
        }
      }