/* DEBUT PAGE ACCUEIL */

@mixin header{
  display: flex;
  justify-content: center;
@media screen and (min-width: 1024px){
  justify-content: flex-start;
  
}
}
#logo{
  
  width: 60%;
  margin: 5%;
  margin-bottom:3%;
  @media screen and (min-width: 1024px){
      width: 400px;
      margin-top: 2%;
   }
}

@mixin button{

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 70%;
  height: 65px;
  background: linear-gradient(to bottom, $color_secondary, $color_primary);
  margin-top: 8%;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: 6px 6px 20px $color_grey;
  z-index:1;
  outline: 0;
  @media screen and (min-width: 768px) and (max-width: 1023px){
   font-size: 1.8rem;
   margin-top: 12%;
   width: 80%;
  height: 80px;
  outline-style:none;
}
@media screen and (min-width: 1024px){
   width: 350px;
   outline-style:none;
}
  &:hover{
   &::after{
   opacity:1;
   }
}
&::after{
   content: "";
   outline-style:none;
   position: absolute;
   width: 70%;
   height: 65px;
   background: linear-gradient(to bottom, lighten($color_secondary, 5%), lighten($color_primary, 5%));
   box-shadow: 6px 6px 20px darken($color_grey,50%);
   border-radius: 50px;
   opacity:0;
   z-index:-1;
   transition: opacity 250ms;
   @media screen and (min-width: 768px) and (max-width: 1023px){
       font-size: 1.8rem;
       width: 80%;
      height: 80px;
      outline-style:none;
}
@media screen and (min-width: 1024px){
   width: 350px;
   outline-style:none;
}
}
}
/* FIN PAGE ACCUEIL */


/* début bloc footer */

@mixin footer{
  background-color: darken($color_grey, 20%);
  color: #fff;
  font-size: 1rem;
  margin-top: 0;
  border: 2px darken($color_grey, 20%) solid;
  padding-left: 5%;
  font-family: robotoregular, serif;
  .footer_title{
    font-family: shrikhandregular, serif;
    font-weight:lighter;
  }
  .fa-utensils, .fa-hands-helping{
    margin-right: 2%;
  }
  #contact{
    text-decoration: none;
    color: #fff;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px){
    font-size: 2rem;
}
@media screen and (min-width: 1024px){
    font-size: 2rem;
}
}

/* fin bloc footer */