@font-face {
    font-family: 'robotoregular';
    src: url('../maquettes_ohmyfood/police/roboto/Roboto-Regular-webfont.eot');
    src: url('../maquettes_ohmyfood/police/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../maquettes_ohmyfood/police/roboto/Roboto-Regular-webfont.woff2') format('woff2'),
         url('../maquettes_ohmyfood/police/roboto/Roboto-Regular-webfont.woff') format('woff'),
         url('../maquettes_ohmyfood/police/roboto/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../maquettes_ohmyfood/police/roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


